#mms {
    position: absolute;
    background-color: rgba(48, 63, 159, 1);
    background-image: url(./souce-code/assets/images/atplus_white.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 30px;
    border-width: 20px;
    border-radius: 100%;
    top: 85%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
}
#mms img {
    opacity: 0;
}
#mms:hover {
    background-image: url(./souce-code/assets/images/atplus_green.png);
    height: 80px;
    width: 80px;
    margin-top: -40px;
    margin-left: -40px;
}
#mms:hover img {
    height: 30px;
    width: 30px;
    opacity: 1;
}
#top {
    opacity: 0;
    height: 30px;
    width: 30px;
    position: absolute;
    margin-left: -15px;
    margin-right: -15px;
}
#mms:hover #top{
    opacity: 1;
    height: 140px;
    width: 140px;
    position: absolute;
    margin-top: -165px;
    margin-left: -30px;
    border-radius: 100%;
    background-color: gray;
    text-align: center;
}
span {
    color: white;
    vertical-align: super;
}
.green {
    color: green;
    font-weight: bold;
}
